{{ template "base" . }}
{{ define "content" }}
<div class="container">
    <h1>About page</h1>
    <p> {{ index .StringMap "test" }} </p>
    <p>
        {{ if ne (index .StringMap "remote_ip") "" }}
            {{ index .StringMap "remote_ip" }}
        {{ else }}
            IP not recognized
        {{ end }}
    </p>
</div>
{{ end }}